@import "../../mixins.scss";

.item{
    width: 75%;
    padding: 1rem;
    border: 0.1rem solid var(--white-color-200);
    margin: 0.5rem 0;
    .title{
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 0.5rem;
    }
    .description{
        font-size: 0.9rem;
    }
    .row{
        @include flex-row-center;
        margin-top: 0.5rem;
        justify-content: space-between;
        .price{
            font-weight: 700;
        }
        .btns{
            @include flex-row;
            gap: 1rem;
            .btn{
                width: 2rem;
                height: 2rem;
                padding: 0.4rem;
                svg{
                    width: 100%;
                    height: 100%;
                    fill: var(--black-color-300);
                }
            }
        }
    }
}